.iconlog {
  margin-left: 40px;
  margin-right: 15px;
}
.example-icon {
  font-size: 1em;
}
span {
  font-size: 1.5em;
}
.content {
  margin-top: 40px;
}
.title {
  font-size: 2em;
  text-align: center;
  font-weight: bold;
  color: black;
}
.subtitle {
  text-align: center;
}
.cards {
  background-color: white;
  color: black;
}
p {
  text-align: center;
  font-size: 1.5em;
}
.mat-raised-button {
  display: block;
  margin: auto;
  background-color: #132743;
  color: white;
}
.imp {
  font-size: 1em;
  width: 100%;
}
.error {
  font-size: 1em;
}
.mat-flat-button {
  background-color: teal;
  color: white;
}
.ics {
  font-size: 1.5em;
  margin-right: 15px;
}
@media (max-width: 575.98px) {  
  .imp{
    font-size: 1em;
    width: 100%;
  }
  .mat-raised-button {
    display: block;
    margin: auto;
  }
}
