<div class="contents">
    <h1 class="title">Acerca de</h1>
</div>
<div nz-row>
    <div nz-col nzSpan="12" nzXs="24" nzSm="24" nzMd="24" nzLg="12" nzXl="12" nzXXl="12" class="divider1">
        <div class="imgInf">
            <img src="../../../assets/img/about.jpg" class="imgabout">
        </div>
    </div>
    <div nz-col nzSpan="12" nzXzs="24" nzSm="24" nzMd="24" nzLg="12" nzXl="12" nzXXl="12"  class="divider2">
        <div class="description">
            <h2 class="subtitle">Sobre Nosotros</h2>
            <p class="descrip">
               Veterinaria es la plataforma virtual líder en Latinoamérica para la enseñanza y aprendizaje de la medicina veterinaria de animales de compañía. 
               Contamos con más de 8 años ininterrumpidos brindando programas de educación continua online para este sector.
            </p>
        </div>
        <div>
            <h2 class="subtitle">Beneficios</h2>
            <div nz-row class="benefits">
                <div nz-col nzSpan="4" class="incon">
                    <span class="iconbef">
                        <fa-icon [icon]="faShield"></fa-icon>
                    </span>
                </div>
                <div nz-col nzSpan="20" class="infor">
                    <p class="descrip"> 
                        <strong>Seguridad: </strong>
                        Tu información nunca ha estado más segura. Veterinaria © utiliza estándares internacionales de seguridad web para
                        proteger tu información y manejamos los historiales clínicos de tus mascotas de forma privada.
                    </p>
                </div> 
            </div>
            <div nz-row class="benefits">
                <div nz-col nzSpan="4" class="incon">
                    <span class="iconbef">
                        <fa-icon [icon]="faAccess"></fa-icon>
                    </span>
                </div>
                <div nz-col nzSpan="20" class="infor">
                    <p class="descrip"> 
                        <strong>Fácil de Usar: </strong>
                            Gestiona tus citas clínicas de la forma más sencilla. Solo necesitas abrir un navegador web para disfrutar de los 
                            más altos estándares de usabilidad.
                    </p>
                </div>  
            </div>
            <div nz-row class="benefits">
                <div nz-col nzSpan="4" class="incon">
                    <span class="iconbef">
                        <fa-icon [icon]="faAmerica"></fa-icon>
                    </span>
                </div>
                <div nz-col nzSpan="20" class="infor">
                    <p class="descrip"> 
                        <strong>Disponibilidad: </strong>
                        Tu información estará disponible donde quiera que vayas y cuando lo requieras. Gestiona tu clínica desde tu casa o estando de viaje.
                    </p>
                </div> 
            </div>
            <div nz-row class="benefits">
                <div nz-col nzSpan="4" class="incon">
                    <span class="iconbef">
                        <fa-icon [icon]="faWifi"></fa-icon>
                    </span>
                </div>
                <div nz-col nzSpan="20" class="infor">
                    <p class="descrip"> 
                        <strong>En Tiempo Real: </strong>
                        Tú podrás usar el sistema a la vez y ver la información conforme se vaya generando. Conecta fácilmente con todas las áreas de la clínica.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="contents">
    <h1 class="title">Servicios</h1>
</div>
<div class="divcontainer">
    <div nz-row [nzGutter]="[16,24]">
        <div nz-col [nzSpan]="8" nzXs="24" nzSm="24" nzMd="24" nzLg="8" nzXl="8" nzXXl="8" class="separator">
          <nz-card class="cardcont">
            <div class="incon">
                <span class="iconbef">
                    <fa-icon [icon]="faStet"></fa-icon>
                </span>
            </div>
            <h2 class="subtitle">Medicina Preventiva</h2>
            <p class="descrip">Realizamos chequeos periódicos de salud, 
                análisis de leishmania (enfermedad del mosquito), 
                filaria (gusano del corazón), controles de peso y mucho más. 
                Acércate y pregunta.</p>
          </nz-card>
        </div>
        <div nz-col [nzSpan]="8" nzXs="24" nzSm="24" nzMd="24" nzLg="8" nzXl="8" nzXXl="8" class="separator">
          <nz-card class="cardcont">
            <div class="incon">
                <span class="iconbef">
                    <fa-icon [icon]="faVials"></fa-icon>
                </span>
            </div>
            <h2 class="subtitle">Análisis en Laboratorio Propio</h2>
            <p class="descrip">
                De esta manera se aceleran los procedimientos y 
                podemos emitir un diagnóstico e implementar el tratamiento 
                adecuado de manera rápida y efectiva.
            </p>
          </nz-card>
        </div>
        <div nz-col [nzSpan]="8" nzXs="24" nzSm="24" nzMd="24" nzLg="8" nzXl="8" nzXXl="8" class="separator">
          <nz-card class="cardcont">
            <div class="incon">
                <span class="iconbef">
                    <fa-icon [icon]="faXray"></fa-icon>
                </span>
            </div>
            <h2 class="subtitle">Radiología Digital</h2>
            <p class="descrip">
                La radiología ofrece información sobre el estado tanto de tejidos blandos como de huesos y articulaciones, 
                por lo que es una herramienta de inestimable utilidad.
            </p>
          </nz-card>
        </div>
    </div>
    <div nz-row [nzGutter]="[16,24]">
        <div nz-col [nzSpan]="8" nzXs="24" nzSm="24" nzMd="24" nzLg="8" nzXl="8" nzXXl="8" class="separator">
          <nz-card class="cardcont">
            <div class="incon">
                <span class="iconbef">
                    <fa-icon [icon]="faLaptopM"></fa-icon>
                </span>
            </div>
            <h2 class="subtitle">Ecografía</h2>
            <p class="descrip">
                La ecografía es una técnica de diagnóstico muy útil, dado que ofrece mucha 
                información sobre el estado de los órganos internos de manera no invasiva, inmediata y precisa.
            </p>
          </nz-card>
        </div>
        <div nz-col [nzSpan]="8" nzXs="24" nzSm="24" nzMd="24" nzLg="8" nzXl="8" nzXXl="8" class="separator">
          <nz-card class="cardcont">
            <div class="incon">
                <span class="iconbef">
                    <fa-icon [icon]="fadog"></fa-icon>
                </span>
            </div>
            <h2 class="subtitle">Peluquería</h2>
            <p class="descrip">
                Se realizan corte comercial y con tijera y cada animal 
                es bañado con el champú y acondicionador más adecuado para su 
                tipo de piel y pelo. Además, se cortan las uñas, limpian los 
                oídos y vacían los sacos anales.
            </p>
          </nz-card>
        </div>
        <div nz-col [nzSpan]="8" nzXs="24" nzSm="24" nzMd="24" nzLg="8" nzXl="8" nzXXl="8" class="separator">
          <nz-card class="cardcont">
            <div class="incon">
                <span class="iconbef">
                    <fa-icon [icon]="faka"></fa-icon>
                </span>
            </div>
            <h2 class="subtitle">Guardería Canina y Felina</h2>
            <p class="descrip">
                Entre nuestras instalaciones contamos con guarderías para perros y gatos. 
                Para acoger a tus mascotas, es imprescindible que estén vacunados al día y 
                que sean desparasitados antes de su estancia.
            </p>
          </nz-card>
        </div>
    </div>
    <div nz-row [nzGutter]="[16,24]">
        <div nz-col [nzSpan]="8" nzXs="24" nzSm="24" nzMd="24" nzLg="8" nzXl="8" nzXXl="8" class="separator">
          <nz-card class="cardcont">
            <div class="incon">
                <span class="iconbef">
                    <fa-icon [icon]="faSyin"></fa-icon>
                </span>
            </div>
            <h2 class="subtitle">Análisis de Triquina</h2>
            <p class="descrip">
                La triquinosis es una enfermedad causada por 
                las larvas enquistadas de un gusano del género 
                Trichinella del que existen varias especies. 
                En Aragón se encuentran la Trichinella spiralis 
                y la Trichinella britovi.
            </p>
          </nz-card>
        </div>
        <div nz-col [nzSpan]="8" nzXs="24" nzSm="24" nzMd="24" nzLg="8" nzXl="8" nzXXl="8" class="separator">
          <nz-card class="cardcont">
            <div class="incon">
                <span class="iconbef">
                    <fa-icon [icon]="facat"></fa-icon>
                </span>
            </div>
            <h2 class="subtitle">Obstetricia y Reproducción</h2>
            <p class="descrip">
                El servicio de obstetricia y 
                reproducción pone a disposición 
                del cliente medidas de prevención 
                y tratamiento, tanto médico como quirúrgico, 
                de estas enfermedades.
            </p>
          </nz-card>
        </div>
        <div nz-col [nzSpan]="8" nzXs="24" nzSm="24" nzMd="24" nzLg="8" nzXl="8" nzXXl="8" class="separator">
          <nz-card class="cardcont">
            <div class="incon">
                <span class="iconbef">
                    <fa-icon [icon]="fadove"></fa-icon>
                </span>
            </div>
            <h2 class="subtitle">Nuevos Animales de Compañía</h2>
            <p class="descrip">
                Los comúnmente conocidos como animales exóticos, 
                ya no lo son tanto. Conejos, cobayas, chinchillas, 
                loros, canarios, iguanas, tortugas, entre otros, 
                están formando parte de cada vez más familias.
            </p>
          </nz-card>
        </div>
    </div>
</div>



