<h2 mat-dialog-title>Políticas de Servicio</h2>
<mat-dialog-content>
  <h3></h3>
  <p>
    Nuestra política es colaborar con el cliente y sus necesidades diarias. No
    dudes en pedirnos información sobre cualquier tipo de problemática, porqué
    siempre intentaremos dar unas o más soluciones.
  </p>
  <p>
    Apoyamos la adopción responsable de mascotas desde los numerosos centros de
    acogida de animales abandonados de Valencia y la esterilización preventiva
    al fin de evitar la sobrepoblación y abandono masivo de los cachorros
    indeseados. Nuestra intención es colaborar con varias asociaciones para el
    control de las colonias felinas en el plan de esterilización y control
    parasitario, ayudando dentro de nuestras posibilidades a las personas
    involucradas en esa difícil y solidaria labor.
  </p>
  <p>
    La Clínica Veterinaria trabaja en el máximo respeto medio ambiental,
    procurando diferenciar todos sus desechos por categorías. En nuestras
    instalaciones podréis encontrar un punto de reciclaje de pilas usadas,
    móviles, tapones solidarios.
  </p>
  <p>
    También en caso de que os encontréis con un animal silvestre y/o exóticos
    (aves, cotorras, loritos, tortugas autóctonas…) nos pondremos en contacto
    con el Centro de Recuperación de Fauna de el Saler que se hará cargo para
    posteriormente reintroducirlo en los lugares se estimen oportunos según los
    requerimientos ecológicos de cada una de las especies para que no se
    perjudique el equilibrio biológico del entorno.
  </p>
  <p>
    Con el afán de mejorar contínuamente nuestro servicio, en nuestras
    instalaciones tendréis a vuestra disposición unas hojas de sugerencias y,
    también, para los más expertos, estarán publicadas en nuestra web para
    cumplimentarlas cómodamente desde casa.
  </p>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button
    mat-raised-button
    [mat-dialog-close]="true"
    color="primary"
    cdkFocusInitial
  >
    Aceptar
  </button>
</mat-dialog-actions>
