<div class="container">
    <div class="row justify-content-center">
        <div class="col-12 col-md-12 col-sm-12 col-lg-6 col-xl-6 space">
            <mat-card nz-popover nzPopoverTitle="Ayuda" [nzPopoverContent]="contentTemplate" nzPopoverPlacement="bottom">
                <img mat-card-image src="../../../../../../assets/img/create_product.jpg" class="imgPortada">
                <br>
                <button mat-flat-button color="primary" (click)="showCreateProduct()">Agregar Productos</button>
            </mat-card>
        </div>
        <div class="col-12 col-md-12 col-sm-12 col-lg-6 col-xl-6 space">
            <mat-card nz-popover nzPopoverTitle="Ayuda" [nzPopoverContent]="contentTemplate" nzPopoverPlacement="bottom">
                <img mat-card-image src="../../../../../../assets/img/changes_product.jpg" class="imgPortada">
                <br>
                <button mat-flat-button color="primary" (click)="showCreateProduct()">Gestionar Productos</button>
            </mat-card>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-12 col-md-12 col-sm-12 col-lg-6 col-xl-6 space">
            <mat-card nz-popover nzPopoverTitle="Ayuda" [nzPopoverContent]="contentTemplate" nzPopoverPlacement="bottom">
                <img mat-card-image src="../../../../../../assets/img/create_categ.jpg" class="imgPortada">
                <br>
                <button mat-flat-button color="primary" (click)="showCreateProduct()">Crear Categoría de Producto</button>
            </mat-card>
        </div>
        <div class="col-12 col-md-12 col-sm-12 col-lg-6 col-xl-6 space">
            <mat-card nz-popover nzPopoverTitle="Ayuda" [nzPopoverContent]="contentTemplate" nzPopoverPlacement="bottom">
                <img mat-card-image src="../../../../../../assets/img/changes-categ.jpg" class="imgPortada">
                <br>
                <button mat-flat-button color="primary" (click)="showCreateProduct()">Gestionar Categorías de los Productos</button>
            </mat-card>
        </div>
    </div>
    <br>
</div>
<ng-template #contentTemplate>
    <p class="alert">Dale click al botón para realizar una acción dentro de ese módulo.</p>
</ng-template>
