<div>
    <h2 class="subtitle">Diagnóstico</h2>
    <p class="descrip">
        Contamos además con equipos completamente automatizados 
        certificados y exclusivos para su uso en veterinaria que,
        manejados por profesionales de laboratorio con 
        especializaciones en cada área, son garantía de un 
        resultado confiable.
        Apuntamos a la excelencia en patología veterinaria, 
        a través de la innovación y la exposición de nuevas 
        alternativas diagnósticas con la tecnología más 
        actualizada del medio y a la par de las sugerencias de 
        nuestros colegas veterinarios.
    </p>
</div>