<div nz-row class="rt">
    <div nz-col nzSpan="12"  nzXs="24" nzSm="24" nzMd="24" nzLg="12" nzXl="12" nzXXl="12" class="tg">
      <small class="der">Copyright &copy; 2020 Veterinaria. All rights reserved. - Términos legales.</small>
    </div>
    <div nz-col nzSpan="12"  nzXs="24" nzSm="24" nzMd="24" nzLg="12" nzXl="12" nzXXl="12" class="ticon tg">
      <a href="https://www.facebook.com/vetguadalupesv" target="_blank" rel="noopener noreferrer" class="puy"><i nz-icon nzType="facebook"></i></a>
      <a href="https://www.instagram.com/veterinarialosheroes/?hl=es-la" target="_blank" rel="noopener noreferrer" class="puy"><i nz-icon nzType="instagram"></i></a>
      <a href="https://twitter.com/veterinarianmag" target="_blank" rel="noopener noreferrer" class="puy"><i nz-icon nzType="twitter"></i></a>
      <a href="https://www.youtube.com/channel/UCTm4fZN5XqdLVRCatRZKxww" target="_blank" rel="noopener noreferrer" class="puy"><i nz-icon nzType="youtube"></i></a>
    </div>
</div>