<mat-toolbar>
  <span><fa-icon [icon]="faPaw" class="iconlog"></fa-icon> Veterinaria</span>
</mat-toolbar>
<div class="content">
  <mat-card class="cards">
    <h1 class="title">Recuperar Contraseña</h1>
    <br />
    <form [formGroup]="forgotForm" (ngSubmit)="onReset()">
        <mat-form-field appearance="outline" class="imp">
          <mat-label>Correo Electrónico</mat-label>
          <input
            type="text"
            matInput
            placeholder="Ej: juan@gmail.com"
            formControlName="email"
            autocomplete="off"
          />
          <fa-icon [icon]="faEnvelope" matSuffix></fa-icon>
          <mat-error *ngIf="isFieldValid1('email')" class="error">{{
            getErrorMessage1("email")
          }}</mat-error>
        </mat-form-field>
        <button mat-raised-button type="submit" [disabled]="!forgotForm.valid">
            Solicitar recuperación de contraseña
        </button>
    </form>
    <br>
    <br>
    <button mat-raised-button [routerLink]="['/login']">
        Iniciar Sesión
    </button>
  </mat-card>
</div>
