<mat-toolbar>
    <button
      mat-flat-button
      class="example-icon"
      (click)="backView()"
    >
      <mat-icon>reply</mat-icon> Regresar
    </button>
</mat-toolbar>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-12 col-md-6 col-sm-12 col-lg-6 col-xl-6 space">
            <mat-card>
                <form [formGroup]="searchForm">
                    <mat-form-field appearance="outline" nz-popover nzPopoverTitle="Ayuda" [nzPopoverContent]="contentTemplate" nzPopoverPlacement="left" class="imp">
                        <mat-label>Búsqueda por nombre, categoría, proveedor o precio</mat-label>
                        <input matInput placeholder="Ej: Alimentos" autocomplete="off" formControlName="search">
                        <mat-icon matSuffix>search</mat-icon>
                    </mat-form-field>
                </form>    
            </mat-card>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-12 col-sm-12 col-lg-12 col-xl-12 space">
            <nz-table #headerTable [nzData]="product" [nzPageSize]="20" [nzScroll]="{ y: '540px' }">
                <thead>
                  <tr>
                    <th nzAlign="center" nzWidth="200px">Nombre</th>
                    <th nzAlign="center" nzWidth="200px">Categoría</th>
                    <th nzAlign="center" nzWidth="200px">Proveedor</th>
                    <th nzAlign="center" nzWidth="120px">Existencias</th>
                    <th nzAlign="center" nzWidth="150px">Precio</th>
                    <th nzAlign="center" nzWidth="100px">Estado de Venta</th>
                    <th nzAlign="center" nzWidth="100px">Ver Detalles</th>
                    <th nzAlign="center" nzWidth="100px">Editar</th>
                    <th nzAlign="center" nzWidth="100px">Eliminar</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let data of headerTable.data | filterProducts:filter">
                    <td>{{ data.name }}</td>
                    <td>{{ data.category }}</td>
                    <td>{{ data.provider }}</td>
                    <td>{{ data.existence }}</td>
                    <td>{{ data.price | currency }}</td>
                    <td>{{ loadExistence(data.existence) }}</td>
                    <td>
                        <button mat-flat-button color="primary" class="other" (click)="showProductModal(data)"><mat-icon>subject</mat-icon></button>
                    </td>
                    <td>
                        <button mat-flat-button color="primary" (click)="showEditModal(data)"><mat-icon>create</mat-icon></button>
                    </td>
                    <td>
                        <button mat-flat-button color="warn" (click)="deleteProduct(data.id)"><mat-icon>delete_outline</mat-icon></button>
                    </td>
                  </tr>
                </tbody>
              </nz-table>
        </div>
    </div>
</div>
<ng-template #contentTemplate>
    <p>Puedes escribir tu búsqueda en este campo.</p>
</ng-template>