<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar>Menú</mat-toolbar>
    <mat-nav-list>
      <h1 class="title">Secretaria</h1>
      <div *ngIf="photoURL !== null;else temp">
        <img src="{{photoURL}}" class="imgUser">
      </div>
      <ng-template #temp>
        <img src="../../../../../assets/img/profile.png" class="imgUser">
      </ng-template>
      <br>
      <p class="title">{{displayName}}</p>
      <br>
      <a mat-list-item (click)="showManageMessages()"><mat-icon class="tip">message</mat-icon>Ver Mensajes</a>
      <br>
      <a mat-list-item (click)="showManageProfile()"><mat-icon class="tip">settings</mat-icon>Editar Perfil</a>
      <br>
      <a mat-list-item (click)="onSignOut()"><mat-icon class="tip">meeting_room</mat-icon>Cerrar Sesión</a>
      <br>
      <br>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>Veterinaria</span>
    </mat-toolbar>
    <!-- Add Content Here -->
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
