<div class="container">
    <div class="row justify-content-center">
        <div class="col-12 col-md-12 col-sm-12 col-lg-6 col-xl-6 space">
            <mat-card nz-popover nzPopoverTitle="Ayuda" [nzPopoverContent]="contentTemplate" nzPopoverPlacement="bottom">
                <img mat-card-image src="../../../../../../assets/img/create_medicine.jpg" class="imgPortada">
                <br>
                <button mat-flat-button color="primary" (click)="showCreateMedicine()">Agregar Medicamento</button>
            </mat-card>
        </div>
        <div class="col-12 col-md-12 col-sm-12 col-lg-6 col-xl-6 space">
            <mat-card nz-popover nzPopoverTitle="Ayuda" [nzPopoverContent]="contentTemplate" nzPopoverPlacement="bottom">
                <img mat-card-image src="../../../../../../assets/img/changes_medicine.jpg" class="imgPortada">
                <br>
                <button mat-flat-button color="primary" (click)="showViewMedicine()">Gestionar Medicamentos</button>
            </mat-card>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-12 col-md-12 col-sm-12 col-lg-6 col-xl-6 space">
            <mat-card nz-popover nzPopoverTitle="Ayuda" [nzPopoverContent]="contentTemplate" nzPopoverPlacement="bottom">
                <img mat-card-image src="../../../../../../assets/img/create_cat_medi.jpg" class="imgPortada">
                <br>
                <button mat-flat-button color="primary" (click)="showCreateCategoryMedicine()">Crear Categoría de Medicamento</button>
            </mat-card>
        </div>
        <div class="col-12 col-md-12 col-sm-12 col-lg-6 col-xl-6 space">
            <mat-card nz-popover nzPopoverTitle="Ayuda" [nzPopoverContent]="contentTemplate" nzPopoverPlacement="bottom">
                <img mat-card-image src="../../../../../../assets/img/change_cat_medi.jpg" class="imgPortada">
                <br>
                <button mat-flat-button color="primary" (click)="showViewCategoryMedicine()">Gestionar Categorías de los Medicamentos</button>
            </mat-card>
        </div>
    </div>
    <br>
</div>
<ng-template #contentTemplate>
    <p class="alert">Dale click al botón para realizar una acción dentro de ese módulo.</p>
</ng-template>
