<mat-tab-group>
  <mat-tab label="Iniciar Sesión">
    <h1 class="title">Iniciar Sesión</h1>
    <br />
    <form [formGroup]="loginForm" (ngSubmit)="onLogin()">
      <mat-form-field appearance="outline" class="imp">
        <mat-label>Correo Electrónico</mat-label>
        <input
          type="text"
          matInput
          placeholder="Ej: juan@gmail.com"
          formControlName="email"
          autocomplete="off"
        />
        <fa-icon [icon]="faEnvelope" matSuffix></fa-icon>
        <mat-error *ngIf="isFieldValid1('email')" class="error">{{
          getErrorMessage1("email")
        }}</mat-error>
      </mat-form-field>
      <br />
      <br />
      <mat-form-field appearance="outline" class="imp">
        <mat-label>Contraseña</mat-label>
        <input
          matInput
          [type]="hide1 ? 'password' : 'text'"
          autocomplete="off"
          formControlName="password"
          maxlength="16"
        />
        <button mat-icon-button matSuffix (click)="hide1 = !hide1">
          <ng-container *ngIf="hide1 == true; else elseTemplate">
            <fa-icon [icon]="faVisibilityOff"></fa-icon>
          </ng-container>
          <ng-template #elseTemplate>
            <fa-icon [icon]="faVisibility"></fa-icon>
          </ng-template>
        </button>
        <mat-error *ngIf="isFieldValid1('password')">{{
          getErrorMessage1("password")
        }}</mat-error>
      </mat-form-field>
      <br />
      <br />
      <button
        mat-raised-button
        color="primary"
        type="submit"
        [disabled]="!loginForm.valid"
      >
        <i nz-icon nzType="login" class="ics"></i>Ingresar
      </button>
    </form>
    <br />
    <br />
    <button mat-flat-button color="warn" (click)="onLoginGoogle()">
      <i nz-icon nzType="google" class="ics"></i>Ingresa con una cuenta de
      Google
    </button>
    <br />
    <br />
    <button
      mat-raised-button
      color="primary"
      [routerLink]="['/forgot-password']"
    >
      <i nz-icon nzType="key" class="ics"></i>Recuperar contraseña
    </button>
  </mat-tab>
  <mat-tab label="Registrarse">
    <h1 class="title">Registrarse</h1>
    <br />
    <form [formGroup]="registerForm" (ngSubmit)="onRegister()">
      <mat-form-field appearance="outline" class="imp">
        <mat-label>Nombre</mat-label>
        <input
          type="text"
          matInput
          placeholder="Ej: Juan"
          formControlName="name"
          autocomplete="off"
        />
        <fa-icon [icon]="faUser" matSuffix></fa-icon>
        <mat-error *ngIf="isFieldValid2('name')" class="error">{{
          getErrorMessage2("name")
        }}</mat-error>
      </mat-form-field>
      <br />
      <br />
      <mat-form-field appearance="outline" class="imp">
        <mat-label>Apellido</mat-label>
        <input
          type="text"
          matInput
          placeholder="Ej: Gómez"
          formControlName="lastname"
          autocomplete="off"
        />
        <fa-icon [icon]="faUser" matSuffix></fa-icon>
        <mat-error *ngIf="isFieldValid2('lastname')" class="error">{{
          getErrorMessage2("lastname")
        }}</mat-error>
      </mat-form-field>
      <br />
      <br />
      <mat-form-field appearance="outline" class="imp">
        <mat-label>DUI</mat-label>
        <input
          type="text"
          matInput
          placeholder="Ej: 74551595-5"
          formControlName="dui"
          autocomplete="off"
        />
        <fa-icon [icon]="faDui" matSuffix></fa-icon>
        <mat-error *ngIf="isFieldValid2('dui')" class="error">{{
          getErrorMessage2("dui")
        }}</mat-error>
      </mat-form-field>
      <br />
      <br />
      <mat-form-field appearance="outline" class="imp">
        <mat-label>Edad</mat-label>
        <input
          type="number"
          matInput
          placeholder="Ej: 34"
          formControlName="age"
          step="1"
          autocomplete="off"
        />
        <fa-icon [icon]="faAge" matSuffix></fa-icon>
        <mat-error *ngIf="isFieldValid2('age')" class="error">{{
          getErrorMessage2("age")
        }}</mat-error>
      </mat-form-field>
      <br />
      <br />
      <mat-form-field appearance="outline" class="imp">
        <mat-label>Correo Electrónico</mat-label>
        <input
          type="text"
          matInput
          placeholder="Ej: juan@gmail.com"
          formControlName="email"
          autocomplete="off"
        />
        <fa-icon [icon]="faEnvelope" matSuffix></fa-icon>
        <mat-error *ngIf="isFieldValid2('email')" class="error">{{
          getErrorMessage2("email")
        }}</mat-error>
      </mat-form-field>
      <br />
      <br />
      <mat-form-field appearance="outline" class="imp">
        <mat-label>Contraseña</mat-label>
        <input
          matInput
          [type]="hide2 ? 'password' : 'text'"
          autocomplete="off"
          formControlName="password"
          maxlength="16"
          #passreg
        />
        <button mat-icon-button matSuffix (click)="hide2 = !hide2">
          <ng-container *ngIf="hide2 == true; else elseTemplate">
            <fa-icon [icon]="faVisibilityOff"></fa-icon>
          </ng-container>
          <ng-template #elseTemplate>
            <fa-icon [icon]="faVisibility"></fa-icon>
          </ng-template>
        </button>
        <mat-hint align="end">{{ passreg.value.length || 0 }}/16</mat-hint>
        <mat-error *ngIf="isFieldValid2('password')">{{
          getErrorMessage2("password")
        }}</mat-error>
      </mat-form-field>
      <br />
      <br />
      <mat-form-field appearance="outline" class="imp">
        <mat-label>Confirmar Contraseña</mat-label>
        <input
          matInput
          [type]="hide3 ? 'password' : 'text'"
          autocomplete="off"
          formControlName="passwordConfirm"
          maxlength="16"
          #passregConfirm
        />
        <button mat-icon-button matSuffix (click)="hide3 = !hide3">
          <ng-container *ngIf="hide3 == true; else elseTemplate">
            <fa-icon [icon]="faVisibilityOff"></fa-icon>
          </ng-container>
          <ng-template #elseTemplate>
            <fa-icon [icon]="faVisibility"></fa-icon>
          </ng-template>
        </button>
        <mat-hint align="end"
          >{{ passregConfirm.value.length || 0 }}/16</mat-hint
        >
        <mat-error *ngIf="isFieldValid2('passwordConfirm')">{{
          getErrorMessage2("passwordConfirm")
        }}</mat-error>
      </mat-form-field>
      <br />
      <br />
      <button
        mat-raised-button
        color="primary"
        type="submit"
        [disabled]="!registerForm.valid"
      >
        <i nz-icon nzType="user-add" class="ics"></i>Registrar
      </button>
      <br />
      <br />
    </form>
  </mat-tab>
</mat-tab-group>
