
<h2 mat-dialog-title>Editar Departamento</h2>
<mat-dialog-content>
  <h3>Formulario</h3>
  <br>
  <form [formGroup]="departmentForm">
    <mat-form-field appearance="outline" class="imp" nz-popover nzPopoverTitle="Ayuda" [nzPopoverContent]="contentTemplate" nzPopoverPlacement="left">
      <mat-label>Nombre</mat-label>
      <input
        type="text"
        matInput
        placeholder="Ej: Cirujía"
        formControlName="name"
        autocomplete="off"
      />
      <mat-icon matSuffix>layers</mat-icon>
      <mat-error *ngIf="isFieldValid1('name')" class="error">{{
        getErrorMessage1("name")
      }}</mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline" class="imp">
      <mat-label>Descripción</mat-label>
      <input
        matInput
        type="text"
        autocomplete="off"
        placeholder="Ej: Sitio para operaciones"
        formControlName="description"
      />
      <mat-icon matSuffix>featured_play_list</mat-icon>
      <mat-error *ngIf="isFieldValid1('description')">{{
        getErrorMessage1("description")
      }}</mat-error>
    </mat-form-field>
    <br />
    <br />
    <button
      mat-raised-button
      color="primary"
      (click)="onEdit(depart.id)"
      [disabled]="!departmentForm.valid"
      [mat-dialog-close]="true"
    ><mat-icon class="ic">create</mat-icon>Editar</button>
  </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-raised-button [mat-dialog-close]="false">
    <mat-icon class="ic">highlight_off</mat-icon>Cancelar
  </button>
</mat-dialog-actions>
<ng-template #contentTemplate>
    <p>Empieza aquí para llenar el formulario</p>
</ng-template>
  