<mat-toolbar>
  <button mat-icon-button class="example-icon" [routerLink]="['/']">
    <fa-icon [icon]="faBack"></fa-icon>
  </button>
  <span><fa-icon [icon]="faPaw" class="iconlog"></fa-icon> Veterinaria</span>
</mat-toolbar>
<div class="container">
  <div class="row justify-content-center spaces">
    <div class="col-12 col-lg-8 col-xl-8 col-md-8 col-sm-12">
      <h1 class="title">Licencias</h1>
      <br />
      <p class="texts">
        Las Licencias de derechos de autor Creative Commons y sus herramientas,
        forman un equilibrio dentro de la premisa tradicional de "todos los
        derechos reservados" que las leyes de propiedad intelectual establecen.
        Nuestras herramientas proporcionan a todo el mundo, desde el creador
        individual a grandes compañías, así como a las instituciones, una forma
        simple y estandarizada de otorgar permisos legales a sus obras
        creativas. La combinación de nuestras herramientas y nuestros usuarios
        conforma vasta y creciente patrimonio digital un conjunto de contenido
        que puede ser copiado, distribuido, editado, remezclado y desarrollado ,
        todo ello dentro de los límites de la ley de propiedad intelectual.
      </p>
      <h1 class="title">Diseño y justificación de la licencia</h1>
      <br />
      <p class="texts">
        Todas las licencias de Creative Commons tienen muchas características
        importantes en común. Cada licencia ayuda a los creadores a los que
        llaman licenciadores al utilizar nuestras herramientas, retener los
        derechos de propiedad intelectual al mismo tiempo que permiten a otros
        copiar, distribuir y hacer algunos usos de su obra al menos para
        finalidades no comerciales. Cada licencia de Creative Commons también
        asegura que los licenciadores sean reconocidos como autores de su obra
        como se merecen. Cada licencia de Creative Commons es vigente en todo el
        mundo y dura tanto como durante los derechos de propiedad intelectual
        aplicables (porque están construidas a partir de las leyes de propiedad
        intelectual). Estas características comunes sirven como base, sobre la
        cual los licenciadores pueden optar por otorgar permisos adicionales en
        el momento de decidir cómo quieren que sea utilizada su obra. El
        licenciador de Creative Commons responde a unas pocas cuestiones sobre
        el camino de escoger una licencia en primer lugar, quiero permitir el
        uso comercial o no y segundo quiero permitir obras derivadas; si el
        licenciador decide permitir obras derivadas, podrá a su vez exigir eso
        mismo a cualquiera que utilice la obra las llamamos para hacer una obra
        accesible bajo los mismos términos de licencia. Lo llamamos "Compartir
        Igual" y es uno de los mecanismos que (de ser escogido) permite que con
        el tiempo el patrimonio digital crezca. Compartir Igual se inspira por
        la GNU General Public License, utilizada por muchos proyectos libres y
        de software abierto.
      </p>
    </div>
  </div>
  <div class="row justify-content-center spaces">
    <div class="col-12 col-lg-8 col-xl-8 col-md-8 col-sm-12">
      <h1 class="title">
        Creative Commons Attribution-ShareAlike 4.0 International
      </h1>
      <img
        src="../../../../../assets/img/compartir.png"
        class="img-fluid mx-auto d-block"
      />
      <br />
      <h1 class="title">Imágenes</h1>
      <mat-card>
        <p class="texts">
          Reconocimiento a
          <a href="https://pixabay.com/es/users/skeeze-272447/" target="_blank"
            >skeeze</a
          >
        </p>
        <p class="texts">Gratis para usos comerciales</p>
        <p>
          Regulado por
          <a href="https://pixabay.com/es/service/license/" target="_blank"
            >Pixabay License</a
          >
        </p>
        <img src="../../../../../assets/img/4.jpg" class="img-fluid" />
      </mat-card>
      <br />
      <br />
      <mat-card>
        <p class="texts">
          Reconocimiento a
          <a
            href="https://pixabay.com/es/users/joannafotograf-4176679/"
            target="_blank"
            >joannafotograf</a
          >
        </p>
        <p class="texts">Gratis para usos comerciales</p>
        <p>
          Regulado por
          <a href="https://pixabay.com/es/service/license/" target="_blank"
            >Pixabay License</a
          >
        </p>
        <img src="../../../../../assets/img/1.jpg" class="img-fluid" />
      </mat-card>
      <br>
      <br>
      <mat-card>
        <p class="texts">
            Reconocimiento a
            <a
              href="https://pixabay.com/es/users/mirkosajkov-14973806/"
              target="_blank"
              >mirkosajkov</a
            >
          </p>
          <p class="texts">Gratis para usos comerciales</p>
          <p>
            Regulado por
            <a href="https://pixabay.com/es/service/license/" target="_blank"
              >Pixabay License</a
            >
          </p>
          <img src="../../../../../assets/img/2.jpg" class="img-fluid" />
      </mat-card>
      <br>
      <br>
      <mat-card>
        <p class="texts">
            Reconocimiento a
            <a
              href="https://pixabay.com/es/users/skeeze-272447/"
              target="_blank"
              >skeeze</a
            >
          </p>
          <p class="texts">Gratis para usos comerciales</p>
          <p>
            Regulado por
            <a href="https://pixabay.com/es/service/license/" target="_blank"
              >Pixabay License</a
            >
          </p>
          <img src="../../../../../assets/img/3.jpg" class="img-fluid" />
      </mat-card>
      <br>
      <br>
      <mat-card>
        <p class="texts">
            Reconocimiento a
            <a
              href="https://pixabay.com/es/users/mirkosajkov-14973806/"
              target="_blank"
              >mirkosajkov</a
            >
          </p>
          <p class="texts">Gratis para usos comerciales</p>
          <p>
            Regulado por
            <a href="https://pixabay.com/es/service/license/" target="_blank"
              >Pixabay License</a
            >
          </p>
          <img src="../../../../../assets/img/depart1.jpg" class="img-fluid mx-auto d-block" />
      </mat-card>
      <br>
      <br>
      <mat-card>
        <p class="texts">
            Reconocimiento a
            <a
              href="https://pixabay.com/es/users/13228026-13228026/"
              target="_blank"
              >13228026</a
            >
          </p>
          <p class="texts">Gratis para usos comerciales</p>
          <p>
            Regulado por
            <a href="https://pixabay.com/es/service/license/" target="_blank"
              >Pixabay License</a
            >
          </p>
          <img src="../../../../../assets/img/depart2.jpg" class="img-fluid mx-auto d-block" />
      </mat-card>
      <br>
      <br>
      <mat-card>
        <p class="texts">
            Reconocimiento a
            <a
              href="https://pixabay.com/es/users/mirkosajkov-14973806/"
              target="_blank"
              >mirkosajkov</a
            >
          </p>
          <p class="texts">Gratis para usos comerciales</p>
          <p>
            Regulado por
            <a href="https://pixabay.com/es/service/license/" target="_blank"
              >Pixabay License</a
            >
          </p>
          <img src="../../../../../assets/img/depart3.jpg" class="img-fluid mx-auto d-block" />
      </mat-card>
      <br>
      <br>
      <mat-card>
        <p class="texts">
            Reconocimiento a
            <a
              href="https://pixabay.com/es/users/publicdomainpictures-14/"
              target="_blank"
              >PublicDomainPictures</a
            >
          </p>
          <p class="texts">Gratis para usos comerciales</p>
          <p>
            Regulado por
            <a href="https://pixabay.com/es/service/license/" target="_blank"
              >Pixabay License</a
            >
          </p>
          <img src="../../../../../assets/img/depart4.jpg" class="img-fluid mx-auto d-block" />
      </mat-card>
      <br>
      <br>
      <mat-card>
        <p class="texts">
            Reconocimiento a
            <a
              href="https://pixabay.com/es/users/parentingupstream-1194855/"
              target="_blank"
              >Parentingupstream</a
            >
          </p>
          <p class="texts">Gratis para usos comerciales</p>
          <p>
            Regulado por
            <a href="https://pixabay.com/es/service/license/" target="_blank"
              >Pixabay License</a
            >
          </p>
          <img src="../../../../../assets/img/about.jpg" class="img-fluid mx-auto d-block" />
      </mat-card>
      <br>
      <br>
      <nz-back-top [nzVisibilityHeight]="100">
      </nz-back-top>
    </div>
  </div>
</div>

