<div class="container">
    <div class="row justify-content-center">
        <div class="col-12 col-md-6 col-sm-12 col-lg-6 col-xl-6 space">
            <mat-card>
                <form [formGroup]="searchForm">
                    <mat-form-field appearance="outline" nz-popover nzPopoverTitle="Ayuda" [nzPopoverContent]="contentTemplate" nzPopoverPlacement="left" class="imp">
                        <mat-label>Búsqueda por correo electrónico o nombre</mat-label>
                        <input matInput placeholder="Ej: martin@gmail.com" autocomplete="off" formControlName="search">
                        <mat-icon matSuffix>search</mat-icon>
                    </mat-form-field>
                </form>    
            </mat-card>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-12 col-sm-12 col-lg-12 col-xl-12 space">
            <nz-table #headerTable [nzData]="contacts" [nzPageSize]="20" [nzScroll]="{ y: '540px' }">
                <thead>
                  <tr>
                    <th nzAlign="center">Nombre</th>
                    <th nzAlign="center">Correo Electrónico</th>
                    <th nzAlign="center">Asunto</th>
                    <th nzAlign="center">Ver Mensaje</th>
                    <th nzAlign="center">Eliminar</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let data of headerTable.data | filterContact:filter">
                    <td>{{ data.name }}</td>
                    <td>{{ data.email }}</td>
                    <td>{{ data.affair }}</td>
                    <td>
                        <button mat-flat-button color="primary" (click)="showMessageModal(data)"><mat-icon>chrome_reader_mode</mat-icon></button>
                    </td>
                    <td>
                        <button mat-flat-button color="warn" (click)="deleteMessage(data.id)"><mat-icon>delete_outline</mat-icon></button>
                    </td>
                  </tr>
                </tbody>
              </nz-table>
        </div>
    </div>
</div>
<ng-template #contentTemplate>
    <p class="alert">Puedes escribir tu búsqueda en este campo.</p>
</ng-template>
